# URLs de redirecionamento
SITE_A_URL=https://quiz.pilatesencasa.lat
SITE_B_URL=https://chas-bariatricos.vercel.app
SITE_C_URL=https://app.receitaviva.online/
FALLBACK_URL=https://app.receitaviva.online/

# Porta do servidor (opcional)
PORT=3000